#wrap { max-width: 420px; margin: 0 auto; overflow: hidden; background: #4d56a3; position: relative; width: 100%; }
.clear { clear: both; }
.msg-mask { background: rgba(0, 0, 0, .5); height: 100%; left: 0; position: fixed; top: 0; width: 100%; z-index: 9; display: none; }
/* 头部 */
.indexHeaderBox { background: #32b476; width: 100%; height: 48px; line-height: 48px; padding: 2px 0; max-width: 420px; margin: 0 auto; position: relative; border-bottom: 2px solid #32b476; z-index: 2; }
.indexHeaderBox a.poL { width: 15%; height: 53px; position: absolute; left: 0; top: 0; z-index: 9; text-align: center; }
.indexHeaderBox a.poR { width: 14%; height: 54px; position: absolute; right: 0; top: 0; z-index: 9; text-align: center; }
.indexTitle { text-align: center; color: #fff; position: relative; z-index: 0; cursor: pointer; font-size: 20px; font-family: "微软雅黑"; }
.blueBg { background: #0373ad; }
.logoGridBox { width: 14px; position: absolute; top: 14px; left: 20px; }
/* banner */
.banner img { width: 100%; display: block; }
/* boxList */
.boxList { display: block; padding: 0% 0 8%; }
/* banner */
.banner { display: block; }
.banner img { display: block; width: 100%; }
/* listBoxDiv */
/* listBoxMore */
.listBoxMore { display: block;padding: 2%;background: #42498b;margin: 5% 3%;border-radius: 15px;}
.listBoxWrap { width: 81%; margin: 0% auto; padding: 5% 0; }
.listBoxWrap p { font-size: 16px; line-height: 22px; color: #aa812d; }
.listBoxWrap p span.color1 { color: #ff7512; }
/* boxfxList参加 */
.boxfxList { width: 81%; margin: auto; padding: 0px 0px 6% 0px; }
.boxfxList .fxBox, .boxfxList .cjBox { width: 45%; border-radius: 5px; text-align: center; font-size: 18px; display: block; line-height: 35px; cursor: pointer; }
.boxfxList .fxBox { background: #fcc238; box-shadow: 0px 5px 0px #d7a328; color: #7b6631; }
.boxfxList .cjBox { background: #39ac69; box-shadow: 0px 5px 0px #1d8c4b; color: #ffffff; }
.boxfxList .fxBox a { color: #7b6631; display: block; }
.boxfxList .cjBox a { color: #ffffff; display: block; }
.boxfxList p { margin: 5% auto 0 auto; display: block; font-size: 14px; color: #5b544f; }
.listBoxMore.border1 { border-bottom: 1px solid #efe5a5; }
/* 颜色 */
.color2 { background: #fff7c1; }
/* listBoxMoreUlBox */
.listBoxMore.marginTop10px { padding-top: 6%; }
.listBoxMore.marginBot10px { padding-bottom: 6%; }
.listBoxMore .listBoxMoreUlBoxTitle {width: 100%; margin: auto; display: block;color: #ffd800;border-bottom: 1px dashed #3a3a60;font-weight: bold;}
.listBoxMore .listBoxMoreUlBoxTitle li { float: left; width: 25%; display: block; text-align: center;line-height: 40px;font-size: 15px;}
.listBoxMore .listBoxMoreUlBox { display: block;width: 100%;}
.listBoxMore .listBoxMoreUlBox li {width: 100%; display: block; margin: auto; line-height: 35px; font-size: 12px;}
.listBoxMore .listBoxMoreUlBox li span { width: 25%; display: block; text-align: center; float: left; color:#fff;white-space:nowrap; text-overflow:ellipsis; overflow: hidden;}
.listBoxMore .listBoxMoreUlBox li span.colorFont1 { color: #34969f; }
.listBoxMore .listBoxMoreUlBox li span.colorFont2 { color: #ffb502; }
.listBoxMore .listBoxMoreUlBox li span.colorFont3 { color: #fb7b70; }