@charset "utf-8";
/* 
	作者：houfeng	
	日期：2015-10-9
	版本：1.0
*/
/* 框架 */
.wrapper { max-width: 420px; width: 100%; background: #f8f8f8; margin: 0 auto; overflow: hidden; background: #fff; position: relative; }
/* 头部 */
.indexHeader { width: 100%; max-width: 420px; margin: 0 auto; position: relative; z-index: 2; }
.indexHeader img { width: 100%; display: block; ; }
.blueBg { background: #0373ad; }
.whiteBg { background: #e8e8e8; }
/*logo*/
.logoGrid { height: 23px; margin-top: 15px; }
.logoGrid2 { height: 25px; margin-top: 15px; }
/* 内容 */
.bodyWrap { width: 100%; font-size: 15px; color: #515151; position: relative; }
.appDownBox { padding: 3%; }
.boxLeft { float: left; width: 40%; }
.boxLeft .appAnd { width: 100%; }
.boxLeft .wxgzhImg { width: 100%; }
.boxLeft .appAnd img, .boxLeft .wxgzhImg img { width: 80%; display: block; margin: auto; }
.boxLeft .wxgzhImg img { width: 77%; border: 3px solid #ccc; margin-top: 5%; }
.boxRight { float: right; width: 60%; }
.boxRight img { width: 100%; display: block; padding: 23% 0; }
/* 分割图 */
.bgImg { background: url("../images/bg.jpg"); background-size: 13px; }
.bgImg img { display: block; width: 12px; }
/* 内容统一盒子 */
.boxWrapN { width: 100%; position: relative; }
.boxWrapN .titleH2 { display: block; position: relative; padding-top: 5%; margin: 0% auto 8%; width: 90%; }
.boxWrapN .titleH2 h2 { width: 60%; margin: auto; padding: 10px; }
.boxWrapN .titleH2 h2 img { display: block; width: 100%; }
.boxWrapN .titleH2 p { display: block; text-align: center; color: #808080; font-size: 16px; }
.boxWrapN .titleH2 .sqBox { width: 40%; text-align: center; border-radius: 50px; margin: 40px auto 0; color: #fff; background: #f8525c; padding: 10px; }
.boxWrapN .titleH2 .sqBox a { color: #fff; display: block; }
.sqBoxIos { width: 70%; margin: 0px auto 20px; font-size: 14px; color: #333; }
.sqBoxIosColor { color: #f00; }
/* 蹭网步骤 */
.boxWrapN .dlText { width: 80%; margin: 0 auto; }
.boxWrapN .dlText img { width: 100%; display: block; }
/* banner */
.banner { display: block; }
.banner img { width: 100%; display: block; }
/* listBoxMore */
.listBoxMore { display: block; }
.listBoxWrap { width: 81%; margin: 0% auto; padding: 5% 0; }
.listBoxWrap p { font-size: 16px; line-height: 22px; color: #aa812d; }
.listBoxWrap p span.color1 { color: #ff7512; }
/* boxfxList参加 */
.boxfxList { width: 81%; margin: auto; padding: 0px 0px 6% 0px; }
.boxfxList .fxBox, .boxfxList .cjBox { width: 45%; border-radius: 5px; text-align: center; font-size: 18px; display: block; line-height: 35px; cursor: pointer; }
.boxfxList .fxBox { background: #fcc238; box-shadow: 0px 5px 0px #d7a328; color: #7b6631; }
.boxfxList .cjBox { background: #39ac69; box-shadow: 0px 5px 0px #1d8c4b; color: #ffffff; }
.boxfxList .fxBox a { color: #7b6631; display: block; }
.boxfxList .cjBox a { color: #ffffff; display: block; }
.boxfxList p { margin: 5% auto 0 auto; display: block; font-size: 14px; color: #5b544f; }
.listBoxMore.border1 { border-bottom: 1px solid #efe5a5; }
/* 颜色 */
.color2 { background: #fff7c1; }
/* listBoxMoreUlBox */
.listBoxMore.marginTop10px { padding-top: 6%; }
.listBoxMore.marginBot10px { padding-bottom: 6%; }
.listBoxMore .listBoxMoreUlBoxTitle { width: 80%; margin: auto; display: block; background: #eee; color: #515151; border-bottom: 1px solid #dedede; }
.listBoxMore .listBoxMoreUlBoxTitle li { float: left; width: 33.33%; display: block; text-align: center; line-height: 35px; font-size: 14px; }
.listBoxMore .listBoxMoreUlBox { display: block; width: 100%; }
.listBoxMore .listBoxMoreUlBox li { width: 80%; display: block; margin: auto; line-height: 35px; font-size: 12px; }
.listBoxMore .listBoxMoreUlBox li span { width: 33.33%; display: block; text-align: center; float: left; }
.listBoxMore .listBoxMoreUlBox li span.colorFont1 { color: #6da1ff; }
.listBoxMore .listBoxMoreUlBox li span.colorFont2 { color: #515151; }
.listBoxMore .listBoxMoreUlBox li span.colorFont3 { color: #ff7512; }
.listBoxMore .bgBorder { display: block; width: 84%; margin: auto; }
.listBoxMore .bgBorder img { display: block; width: 100%; }
.listBoxMore .listBoxMoreUlBox li:nth-of-type(odd) { background: #ffffff; }
.listBoxMore .listBoxMoreUlBox li:nth-of-type(even) { background: #f2f2f2; }
/*
#list1 li:nth-of-type(odd){ background:#00ccff;}奇数行 
#list1 li:nth-of-type(even){ background:#ffcc00;}偶数行
*/
/* 注册 */
/* 砍一刀盒子 */
.boxWrapInput { border-radius: 4px; left: 50%; margin-left: -150px; margin-top: -87px; position: fixed; top: 40%; width: 300px; z-index: 10; display: none; background:#f9f6fa; padding: 15px 0 15px 0; z-index:99;}
/* 注册 */
.formUl { width: 90%; margin: auto; }
.search { height: 100%; }
.formUl li { margin-bottom: 14px; position: relative; }
.formUl li .inputBg { font-size: 18px; line-height: 30px; border-radius: 5px; }
.formUl li .codeBox{ float:left; display:block; width:70%;}
.formUl li .phoneBox { width: 100%; float: left; }
.formUl li .inputBg input { height: 29px; width: 92%; border: 1px solid #e0e0e0; border-radius: 5px; background: #fff; padding: 5px 4%; color: #c3c3c3; font-size: 16px; }
.formUl li .inputBg input:focus { color: #515151; border: 1px solid #32b476; border-radius: 5px; }
.formUl li .inputBg p { width: 30px; text-align: center; float: left; margin: 8px 0 0 0; }
.formUl li .inputBg span img { float: left; }
.formUl li .inputBg img.phone { width: 13px; }
.formUl li .inputBg img.InvitationCode { width: 21px; }
.formUl li .inputBg img.code { width: 18px; }
/* codeText */
.formUl li .authCodeBox { width: 67%; float: left; }
#codeText { width: 90%; }
.codeImg { cursor: pointer; background: #32b476; color: #fff; width: 30%; float: right; font-size: 13px; line-height: 40px; text-align: center; border-radius: 5px; }
.codeImgShowHide { position: absolute; z-index: 11; display: none; width: 30%; right: 0px; height: 35px; cursor: pointer; }
.inputT { width: 90%; background: #32b476; margin: 4% auto 0 auto; border-radius: 5px; padding: 4px 0; }
.inputTBox { width: 80%; background: #32b476; margin: 0 auto; border-radius: 5px; padding: 8px 0; }
.search_bt { color: #fff; font-size: 18px; text-align: center; width: 100%; margin: auto; line-height: 30px; cursor: pointer; }
.boxWrapN1 { width: 100%; }
.inputTBox1 { border-radius: 5px; padding: 5% 0; }
.search_bt1 { font-size: 18px; text-align: center; width: 40%; margin: auto; line-height: 30px; cursor: pointer; }
.search_bt1 img { display: block; width: 100%; }
/* 遮罩层 */
.msg-mask { background: rgba(0, 0, 0, .5); height: 100%; left: 0; position: fixed; top: 0; width: 100%; z-index: 9; display: none; z-index: 9; }
/* 弹出框 */
/* 颜色区分 */
.red { color: #f12020; }
#close { float: right; position: absolute; right: 10px; top: 10px; width: 20px; }
.msg-header #close { right: 0px; top: 0px; }
.msg-box { background: #fff; -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; border-radius: 4px; left: 50%; margin-left: -150px; margin-top: -87px; position: fixed; top: 46%; width: 300px; z-index: 99999; display: none; }
.msg-header { height: 34px; position: relative; }
.msg-title { color: #333; display: block; font-size: 18px; line-height: 40px; margin: 0 auto; text-align: center; vertical-align: middle; }
.msg-box-confirm .msg-header .btn-close { background: #32b476; -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; border-radius: 0 4px 0 30px; border-style: solid; border-color: #c2c6c2; border-width: 0 0 1px 1px; color: #fff; display: block; height: 30px; position: absolute; right: 0; -webkit-tap-highlight-color: transparent; top: 0; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; width: 30px; border: 0px; }
.icon-close { background: url(../images/xx.png) no-repeat 0 0; background-size: 10px auto; display: block; height: 10px; margin-top: 7px; margin-left: 7px; width: 10px; }
.msg-box .content { margin: 22px auto; }
.msg-box .footer { border-top: 1px solid #ebebeb; }
.msg-box-confirm .btn-group { -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; border-radius: 0 0 4px 4px; }
.msg-box .msg, .msg-box .extra-msg { color: #333; }
.msg-box .msg { padding: 0 14px; }
.msg-box .msg p { line-height: 24px; font-size: 14px; text-align: center; }
.msg-box .msg p span.red { color: red; }
.msg-box .msg .linkTxt { background: red; color: #fff; text-align: center; width: 80%; margin: 5% auto; height: 40px; line-height: 40px; font-size: 16px; }
.msg-box .msg .linkTxt a { color: #fff; display: block; }
.msg-mask1 { background: rgba(0, 0, 0, .5); height: 100%; left: 0; position: fixed; top: 0; width: 100%; z-index: 999999; display: none; z-index: 999; }
/* 人数和钱数 */
#sum,#end_price{ font-weight:bold; padding:0 3px;}
/* input */
#codeText { width: 86%; }
#authCode {width: 86%;}
/* codeImgPic */
.codeImgPic{ width:30%; float: right; margin-top:5px; }
.codeImgPic img{ display:block; width:100%; max-height:40px;}
